[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-index = "*"
llama-index-core = "*"
python-dotenv = "*"
requests = "*"
beautifulsoup4 = "*"
pinecone-client = "*"
streamlit = "*"
kagglehub = "*"
llama-hub = "*"
llama-index-question-gen-guidance = "*"
llama-index-vector-stores-pinecone = "*"

[dev-packages]

[requires]
python_version = "3.11"
